<div class="container">
  <p class="lead">
    View all existing parking locations
  </p>

  <div class="row">
    <div class="col-sm-12 col-md-3">
      <div class="card mb-4">
        <div class="card-body text-center">
          <h2 class="card-title">Metered</h2>
          <p class="card-text">Parking monitored by electronic or manual meters</p>
          <a class="card-link" href="#">View</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card mb-4">
        <div class="card-body text-center">
          <h2 class="card-title">Ramp</h2>
          <p class="card-text">Parking facilitated through a multi-level structure</p>
          <a class="card-link" href="#">View</a>
        </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card mb-4">
        <div class="card-body text-center">
          <h2 class="card-title">Lot</h2>
          <p class="card-text">Facilitated through a surface level outdoor parking area</p>
          <a class="card-link" href="#">View</a>
        </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <div class="card">
        <div class="card-body text-center">
          <h2 class="card-title">Valet</h2>
          <p class="card-text">Parking administered through a private company that handles drop-off and retrieval of all vehicles</p>
          <a class="card-link" href="#">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
